.popup__button-close {
   position: absolute;
   padding: 0;
   right: -40px;
   top: -40px;
   background-image: url(../../../images/Close\ Icon.svg);
   width: 32px;
   height: 32px;
   background-color: transparent;
   background-repeat: no-repeat;
   border: 0;
   cursor: pointer;
   background-position: center;
}

@media screen and (max-width: 500px) {
   .popup__button-close {
      width: 20px;
      height: 20px;
      top: -36px;
      right: 0;
   }
}